<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
<listeners>
<listener class-name ="com.flipkart.tasks.util.Listeners"> 	</listener>
</listeners>
  <test  name="TestSmoke" >
    <classes>
		
		<class name="com.flipkart.tasks.test.WishListTest"/> 
      	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
